{
  "extends": "airbnb",
  "rules": {
    "quotes": ["error", "backtick"],
    "semi": "off",
    "comma-dangle": [
      "error",
      {
        "arrays": "always",
        "objects": "always",
        "imports": "always",
        "functions": "ignore",
        "exports": "never"
      }
    ],
    "curly": ["error", "multi"]
  }
}
